<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalHamada">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignIn" android:exported="false" />
        <activity android:name=".SignUp" android:exported="false" />

        <activity android:name=".AboutYourself" android:exported="true" />
        <activity android:name=".YourGoal" android:exported="true" />

        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".Profile" android:exported="false" />
        <activity android:name=".Exercises" android:exported="false" />
        <activity android:name=".AddNewExercise" android:exported="false" />
        <activity android:name=".AddFoods" android:exported="false" />
        <activity android:name=".FoodsActivtiy" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />

        <receiver
            android:name=".data.notifications.AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>